appdirs==1.4.4
atari-py==0.2.9
black==21.6b0
box2d-py==2.3.8
cffi==1.14.5
click==8.0.1
cloudpickle==1.6.0
cycler==0.10.0
Cython==0.29.23
fire==0.4.0
glfw==2.1.0
-e git+https://github.com/openai/gym.git@ee5ee3a4a5b9d09219ff4c932a45c4a661778cd7#egg=gym
imageio==2.9.0
kiwisolver==1.3.1
lockfile==0.12.2
matplotlib==3.4.2
mypy-extensions==0.4.3
numpy==1.20.3
opencv-python==4.5.2.52
pathspec==0.8.1
Pillow==8.2.0
pycparser==2.20
pyglet==1.5.15
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
regex==2021.4.4
scipy==1.6.3
six==1.16.0
termcolor==1.1.0
toml==0.10.2
torch==1.8.1
typing-extensions==3.10.0.0
